{% extends "network/layout.html" %} 
{% load static %}


{% block body %} 

<div>
  <h2>All Posts</h2>
    {% if user.is_authenticated %}
    <div class="new-post-container">
        <h5>New Post</h5>
        <form action="/posts/create" method="post" class="new-post-form">
            {% csrf_token %}
            <textarea name="content" id="content" ></textarea>
            <input class="btn btn-primary" type="submit" value="Post">
        </form>
    </div>
    {% endif %}
 

{% for post in page_obj.object_list %}
    <div class="posts">
        <div class="post">
            <h5>
                <a href="{{post.user.username}}">{{post.user.username}}</a>
            </h5>
            <a href="">Edit</a>
            <p>{{post.content}}</p>
            <p>{{post.created_at}}</p>
            <form action="posts/like" method="post">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <button class="like-btn">
                    ♥️ {{post.likes.count}}
                </button>
            </form>
        </div>
    </div>
{% endfor %}
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a class="mx-2" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        
        <span class="current-page">
            {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a class=" mx-2" href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </div>
</div>

{% endblock %}
